#project
molecad.types_.py
molecad.errors.py
molecad.error_handler.py
info/

# tmp
__pycache__/
*.py[cod]
*$py.class.pytest_cache
.ipynb_checkpoints

#poetry
poetry.lock

#env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pycharm
.idea
.\.*~

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST